---
import { portfolioSections } from '../../data/portfolio';
---

<div data-route="/portfolio" class="subpage subpage--portfolio">
  <article class="subpage__wrapper">
    <div class="subpage__header">
      <a href="/" class="subpage__close-button">X</a>
      <h2 class="subpage__title">Portfolio</h2>
    </div>
    <div class="subpage__content-wrapper">
      <div class="subpage__content">
        {
          portfolioSections.map((section) => (
            <section>
              <h3>{section.title}</h3>
              {section.items.map((item) => (
                <div class="subpage--portfolio__gallery-item">
                  <div class="subpage--portfolio__gallery-item-content">
                    <div class="subpage--portfolio__gallery-item-image">
                      <img src={item.image} alt={item.alt} />
                    </div>
                    <div class="subpage--portfolio__gallery-item-description">
                      <h4 class="subpage--portfolio__gallery-item-title">
                        {item.title}
                      </h4>
                      <div class="subpage--portfolio__gallery-item-pills">
                        {item.pills.map((pill) => (
                          <span class="subpage--portfolio__gallery-item-pill">
                            {pill}
                          </span>
                        ))}
                      </div>
                      <ul>
                        {item.bullets.map((bullet) => (
                          <li>{bullet}</li>
                        ))}
                      </ul>
                      {item.links.length > 0 && (
                        <div class="subpage--portfolio__gallery-item-links">
                          {item.links.map((link, index) => (
                            <>
                              <a
                                href={link.url}
                                target="_blank"
                                rel="noreferrer"
                              >{link.label}</a>
                              {index < item.links.length - 1 ? ' - ' : ''}
                            </>
                          ))}
                        </div>
                      )}
                    </div>
                  </div>
                </div>
              ))}
            </section>
          ))
        }


      </div>
    </div>
  </article>
</div>
